<a href="/products/<%= product.slug %>" class="product-card">

  <img
    src="<%= product.image %>"
    alt="<%= product.name %>"
    class="product-image">

  <h3><%= product.name %></h3>

  <p class="price">
    <%= product.price %> SEK
  </p>

  <p class="brand">
    <%= product.brand %>
  </p>

</a>